/JavaApplication5/nbproject/private/
/Lab_2/nbproject/private/
/Lab_2/build/
/Lab_3/nbproject/private/
/Lab_3/build/
/Lab_4/nbproject/private/
/Lab_4/build/
/Lab_5/nbproject/private/
/Lab_5/build/
/Lab_6/nbproject/private/
/Lab_6/build/
/Lab_7/nbproject/private/
/Lab_7/build/
